{% extends "base.html" %}
{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'watchlist/index.css' %}">

<form action="{% url 'watchlist:add_favorite' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Add to favorites</h1></legend>
        <label for="ticker">Ticker</label>
        <input type="text" name="ticker">

        <label for="name">Name</label>
        <input type="text" name="name">
    </fieldset>
    <input type="submit" value="Add Favorite">
</form>

<div class="favorites_list_wrapper">
    {% if cryptos %}
        {% for crypto in cryptos %}
            <div class="thing_djs">
            {% include 'watchlist/watchlist_line_item.html' %}
            </div>
        {% endfor %}
    {% else %}
        <p>There are no cryptos yet!</p>
    {% endif %}
    
</div>

{% endblock body %}